services:
  redis:
    image: redis
    ports:
      - 6379:6379

  redisinsight:
    image: redislabs/redisinsight
    ports:
      - '5540:5540'

  app:
    build:
      target: production
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    environment:
      - AuthOptions__KeysDirectory=${AuthOptions__KeysDirectory:?}
      - AuthOptions__AccessTokenExpiryMinutes=${AuthOptions__AccessTokenExpiryMinutes:?}
      - AuthOptions__Issuer=${AuthOptions__Issuer:?}
      - AuthOptions__Audience=${AuthOptions__Audience:?}
      - AuthOptions__RevokedTokensCacheKeyPrefix=${AuthOptions__RevokedTokensCacheKeyPrefix:-"revoked-tokens"}

      - StorageOptions__AccessKey=${StorageOptions__AccessKey:?}
      - StorageOptions__SecretKey=${StorageOptions__SecretKey:?}
      - StorageOptions__BucketName=${StorageOptions__BucketName:?}
      - StorageOptions__EndpointUrl=${StorageOptions__EndpointUrl:?}
      - StorageOptions__BucketUrl=${StorageOptions__BucketUrl:?}
      - StorageOptions__MaxFileSizeInMB=${StorageOptions__MaxFileSizeInMB:?}
      - StorageOptions__UploadPartSize=${StorageOptions__UploadPartSize:-6291456}

      - RedisSettings__ConnectionString=${RedisSettings__ConnectionString:-redis:6379}

      - PostgresSettings__ConnectionString=${PostgresSettings__ConnectionString:?}
    volumes:
      - ./keys:/app/keys

  db:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB:?}
      - POSTGRES_USER=${POSTGRES_USER:?}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?}

  adminer:
    image: adminer
    ports:
      - 8080:8080
